:root {
  --accent-color: blue;
  --primary-color: lightblue;
  --secondary-color: rgb(195, 195, 195);
  --border-color: rgb(173, 173, 173);
  --bg-color: rgb(236, 236, 236);
  font-size: 6.25%;
}

* {
  margin: 0;padding: 0;box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

.app {
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 100rem;
  font-size: 16rem;
}

@media screen and (max-width: 800px) {
  .app {
    padding: 50rem;
  }
}

@media screen and (max-width: 650px) {
  .app {
    padding: 0;
  }

  body {
    background: var(--bg-color);
  }
}
